<%- include("../partials/header") %>

<div class="d-flex justify-content-center">
	<form action="/series/<%=series._id%>?_method=PUT" method="POST" class="form py-3">
		<h1 class="mb-4">Edit "<%=series.title%>"</h1>
		<div class="form-group">
			<label><b>Title</b></label>
			<input type="text" name="series[title]" placeholder="title"  class="form-control" value="<%=series.title%>">
		</div>
		<div class="form-group">
			<label><b>Desciption</b></label><input type="text" name="series[desc]" placeholder="description of the series" 
			class="form-control" value="<%=series.desc%>">
		</div>
		<div class="form-group">
			<label><b>Body</b></label><textarea  name="series[body]"  class="form-control textarea"><%=series.body%></textarea>
		</div>
		<div>
			<button type="submit" class="btn btn-dark">Submit</button>
			<a href="/series/<%=series._id%>" class="btn btn-dark">Back to series</a>
		</div>
	</form>
</div>
<hr>

<%- include("../partials/footer") %>